footer {
    background-color: var(--negro);
    display: block;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.displayfooter {
    background-color: var(--negro);
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.logosfooter {
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.patrociniofooter {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.brunch {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0;

}

.igytiktok {
    text-align: center;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
}

.emailycel {
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.parraforedes {
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    text-decoration: none;
}

.parrafofooter {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}

.logoderechosfooter {
    width: 200px;
    height: 200px;
}

