.maincontacto {
    font-family: 'Raleway', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8)),url(img/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/DSCN7620-01.jpeg);

            
}

.container {

    display: flex;
    padding:20px;
    gap:10px;
    width: 1000px;
    justify-content: center;
}


.box-info {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
}

    .box-info > h1 {
        text-align: left;
        letter-spacing: 5px;
    }

    .h1contacto {
        font-family: 'Raleway', sans-serif;
    }

    .data {
        display: flex;
        flex-direction: column;
        gap:25px
    }

    .data > p {
        font-size: 1rem;
    }
    
    .data > p > i {
        color: var(--color1);
        margin-right: 10px;
        font-size:25px;
    }

    .iconoscontacto {
        display: flex;
        gap: 10px;
    }

    .links {
        display:flex;
        gap:15px;
    }
    
    .links > a {
        display: none;
        text-decoration: none;
        width: 40px;
        height: 40px;
        background: var(--color1);
        text-align: center;
        transition: .1s;
    }
    
    .links > a > i {
        color:#fff;
        line-height: 40px;
        font-size: 20px;
    }