.spotifyarchivo {
    background-image: url(../img/DSCN7623-01-01.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    .archivo1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;

        .h1archivo {
            margin: 0;
            padding: 10px;
        
        }
    }

    .archivo2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
    
    }
    
}
