:root {
    /* Fuentes */
    --fuenteprincipal: font-family: 'Raleway', sans-serif;
    --fuentesecundaria: font-family: 'PT Sans', sans-serif;
    /* Colores */
    --color1: #1c7c54;
    --color2: #73e2a7;
    --color3: #def4c6;
    --color4: #1b512d;
    --color5: #b1cf5f;
    --negro: #1e1d1d;
    
}

a {
    text-decoration: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
